@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 
  사용방법
  .orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-kr-<uniquifier> {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #faf9f8;
  color: #222;
}
.m-font {
  font-family: "Orbit", sans-serif;
}
#header, #cardSection, #aboutSection, #footer {
  width: 100%;
  padding: 0 5%;
}
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}


/* header */
#header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 25px 0;
  border-radius: 0 0 20px 20px;
  background-color: transparent;
  overflow: hidden;
  z-index:999;
  transition: 
    transform ease-in-out 0.4s,
    background-color ease 0.4s,
    box-shadow ease 0.4s,
    padding ease 0.4s
  ;
}
#header h1 {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  transition: 
    margin ease 0.3s,
    position ease 0.3s,
    font-size ease 0.3s
    ;
}
#header h1 a {
  text-decoration: none;
  color: #222;
}

#header #menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#header #menu.hide {
  display: none;
  padding: 0;
}
#header #menu .menu-group {
  position: relative;
  display: flex;
}
#header #menu .menu-group li {
  padding: 0 20px;
}
#header #menu .menu-group li a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  font-weight:500;
  transition: color ease 0.3s;
}
#header #menu .menu-group li a:hover {
  color: #20b2aa;
}

/* header #toggle-menu hide */
#toggle-menu {
  display: none;
}

@media screen and (max-width: 1080px) {
  #header .container {
    display: flex;
    justify-content: flex-start;
    padding: 0 24px;
  }
  #header h1 {
    position: absolute;
    margin: 0 auto;
    left: 0;
    font-size: 1.5rem;
    line-height: 1.3;
  }
  #header #toggle-btn {
    position: relative;
    display: block;
    overflow: visible;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  #header #toggle-btn .toggle-btn-shape {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  #header #toggle-btn .toggle-btn-shape span {
    width: 12px;
    height: 2px;
    border-radius: 2px;
    display: block;
    background-color: #222;
  }
  #header #toggle-btn .toggle-btn-shape span:first-child {
    transform: translate(11px, 13px) rotate(0deg);
  }
  #header #toggle-btn .toggle-btn-shape span:last-child {
    transform: translate(11px, 18px);
  }
  #header #toggle-btn .toggle-btn-shape.on span:first-child {
    transform: translate(11px, 16px) rotate(45deg);
  }
  #header #toggle-btn .toggle-btn-shape.on span:last-child {
    transform: translate(11px, 14px) rotate(-45deg);
  }
  #header #toggle-btn .toggle-btn-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #e7e7e7;
    transition: transform ease 0.3s;
  }
  #header #toggle-btn:hover .toggle-btn-bg{
    transform: scale(1.1);
  }
  #header #toggle-btn:active .toggle-btn-bg{
    background-color: #c4c4c4;
  }
  #header #menu {
    display: none;
  }
  #toggle-menu {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    z-index: 22;
    top: 0;
    left: 0;
    background-color: #faf9f8;
  }
  #toggle-menu .toggle-menu-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
  }
  #toggle-menu .toggle-menu-group li {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    text-indent: 10px;
  }
  #toggle-menu .toggle-menu-group li a {
    width: 100%;
    margin: 10px auto;
    display: flex;
    padding: 25px 0;
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    transition: border ease 0.3s, color ease 0.3s;
  }
  #toggle-menu .toggle-menu-group li a:hover {
    border: 1px solid #20b2aa;
    color: #20b2aa;
  }
  #toggle-menu .toggle-menu-group li a i {
    margin-left: 16px;
    margin-right: 10px;
    font-size: 2rem;
  }
  #toggle-menu .toggle-menu-group li a span {
    line-height: 1.5;
  }
}


/* cardSection */
#cardSection {
  margin-bottom: 100px;
}
#cardSection #titleWrap,
#aboutSection #titleWrap {
  text-align: center;
}
#cardSection #titleWrap h1,
#aboutSection #titleWrap h1 {
  display: block;
  font-size: 4rem;
  font-weight: 900;
}
#cardSection #titleWrap p,
#aboutSection #titleWrap p {
  margin-top: 60px;
  line-height: 1.8;
  display: block;
  color: #555;
}
#cardSection #titleWrap p b,
#cardSection #titleWrap p u {
  font-weight: 600;
  color: #222;
}
#cardSection #cardWrap {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 100px auto 0;
}
#cardSection #cardWrap .cards {
  height: 450px;
  box-shadow: 0px 6px 20px -1px rgba(88, 88, 88, 0.2);
  border-radius: 20px;
  overflow: hidden;
  transition: transform ease 0.3s;
}
#cardSection #cardWrap .cards:hover {
  transform: translateY(-15px);
}
#cardSection .cards {
  background-color: #fff;
}
#cardSection .cards .card-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
#cardSection .cards .card-wrap .card-img {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
#cardSection .cards .card-wrap .card-img img {
  width: 100%;
  height: 100%;
  display: block;
}
#cardSection .cards .card-wrap .textGroup {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  /* height: 100%; */
  padding: 16px;
  line-height: 1.2;
} 
#cardSection .cards .card-wrap .textGroup .card-title {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 1rem;
  font-weight: 600;
}
#cardSection .cards .card-wrap .textGroup .card-description {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  font-size: 0.9rem;
  display: block;
  overflow: hidden;
}
#cardSection .cards .card-wrap .textGroup .card-tag {
  position: absolute;
  bottom: 50px;
}
#cardSection .cards .card-wrap .textGroup .card-tag ul {
  display: flex;
}
#cardSection .cards .card-wrap .textGroup .card-tag ul li {
  padding: 4px 6px;
  font-size: 0.7rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  line-height: 1;
}
#cardSection .cards .card-wrap .textGroup .card-tag ul li:not(:last-child) {
  margin-right: 6px;
}

#cardSection .cards .card-wrap .textGroup .card-date {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
}



/* about */
#aboutSection {
  width: 80%;
  margin: 0 auto 100px;
  /* border: 1px solid salmon; */
}
#aboutSection #aboutWrap {
  margin: 100px auto 0;
  /* border:1px solid wheat; */
}
#aboutSection .aboutIntroduce {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
}
#aboutSection .aboutIntroduce .introImgWrap {
  width: 42%;
  /* height: 280px; */
  position: relative;
  overflow: hidden;
  background-image: url(../images/aboutImg.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 260px auto;
}
#aboutSection .aboutIntroduce .introTextWrap {
  width: 58%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px 0 0 30px;
}
#aboutSection .aboutIntroduce .introTextWrap h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #20b2aa;
}
#aboutSection .aboutIntroduce .introTextWrap h2 span {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 8px;
  color: #aaa;
}
#aboutSection .aboutIntroduce .introTextWrap ul li:not(:last-child) {
  margin-bottom: 40px;
}
#aboutSection .aboutIntroduce .introTextWrap ul li h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
}
#aboutSection .aboutIntroduce .introTextWrap ul li p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555;
}
#aboutSection .aboutIntroduce .introTextWrap ul li p b {
  font-weight: 500;
  text-decoration: underline;
}

#aboutSection .aboutIntroduce .introTextWrap ul li.sns-contact a i {
  font-size: 1.3rem;
  color: #222;
  margin-right: 14px;
  transition: color ease 0.3s;
}
#aboutSection .aboutIntroduce .introTextWrap ul li.sns-contact a i:hover {
  color: #20b2aa;
}
#aboutSection .aboutIntroduce .introTextWrap ul li.sns-contact p {
  margin-top: 10px;
  color: #606060;
  font-size: 0.9rem;
}
/* aboutSkills */
#aboutSection .aboutSkills h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 10px;
  color: #20b2aa;
}
#aboutSection .aboutSkills h2 span {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 8px;
  color: #aaa;
}
#aboutSection .aboutSkills .aboutSkillsWrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
#aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList {
  width: 33.333%;
  padding: 0 16px;
  margin-bottom: 40px;
}
#aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList:nth-child(n+4) {
  margin-bottom: 0;
}
#aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList .aboutSkillsListTitle img {
  width: 50px;
  display: block;
  margin-bottom: 16px;
}
#aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList h4 {
 font-size: 1.1rem;
 font-weight: 600;
 margin-bottom: 10px;
}
#aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  white-space: normal;
  color: #555;
}
@media screen and (max-width: 1080px) {
  #aboutSection {
    width: 90%;
  }
  #aboutSection .aboutIntroduce .introImgWrap {
    width: 40%;
  }
  #aboutSection .aboutIntroduce .introTextWrap {
    width: 60%;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList {
    width: 50%;
    margin-bottom: 50px !important;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList:nth-child(n+5) {
    margin-bottom: 0 !important;
  }
}
@media screen and (max-width: 800px) {
  #aboutSection .aboutIntroduce {
    flex-direction: column;
  }
  #aboutSection .aboutIntroduce .introImgWrap  {
    width: 100%;
    height: 260px;
    margin: 0 auto 50px;
    background-size: contain;
    background-position: center;
  }
  #aboutSection .aboutIntroduce .introTextWrap {
    width: 100%;
    padding: 0;
  }
  #aboutSection .aboutIntroduce .introTextWrap h2 {
    text-indent: 10px;
  }
  #aboutSection .aboutIntroduce .introTextWrap ul {
    width: 100%;
    padding: 0 10px;
  }
  #aboutSection .aboutSkills {
    padding: 0 10px;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #dadada;
    padding-bottom: 30px;
    margin-bottom: 30px !important;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList:nth-child(5) {
    margin-bottom: 30px !important;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList .aboutSkillsListTitle {
    width: 20%;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList .aboutSkillsListTitle h4 {
    font-size: 1rem; 
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList p {
    width: 80%;
    padding-left: 26px;
  }
}
@media screen and (max-width: 600px) {
  #aboutSection .aboutIntroduce .introTextWrap {
    width: 100%;
    padding: 0 10px;
  }
  #aboutSection .aboutIntroduce .introTextWrap h2 {
    text-indent: 0;
  }
  #aboutSection .aboutIntroduce .introTextWrap ul {
    width: 100%;
    padding: 0;
  }
  #aboutSection .aboutSkills {
    padding: 0 10px;
  }
  #aboutSection .aboutSkills h2 {
    text-indent: 0;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList {
    width: 100%;
    padding: 0;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dadada;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList .aboutSkillsListTitle {
    width: 100%;
  }
  #aboutSection .aboutSkills .aboutSkillsWrap .aboutSkillsList p {
    width: 100%;
    padding: 0;
  }
}


/* aboutHistory */
#aboutSection .aboutHistory h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  text-indent: 10px;
  color: #20b2aa;
}
#aboutSection .aboutHistory h2 span {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 8px;
  color: #aaa;
}
#aboutSection .aboutHistory .historyWrap {
  padding: 0 10px;
  line-height: 1.6;
}
#aboutSection .aboutHistory .historyWrap .hItem:first-child {
  margin-bottom: 30px;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemTitle {
  font-size: 1.2rem;
  font-weight: 600;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemDate {
  margin-left: 10px;
  color: #777;
  font-size: 0.9rem;
  font-weight: 400;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemSub {
  font-weight: 500;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemDes {
  font-weight: 500;
  color: #777;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemWork .hItemWorkWrap {
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 10px;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemWork .hItemWorkWrap .hItemWyear {
  margin-right: 16px;
  font-weight: 600;

}
#aboutSection .aboutHistory .historyWrap .hItem .hItemWork .hItemWorkWrap .hItemWtext li:nth-child(1) {
  margin-right: 16px;
  font-weight: 600;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemWork .hItemWorkWrap .hItemWtext li:nth-child(2) {
  color: #666;
}
#aboutSection .aboutHistory .historyWrap .hItem .hItemWork .hItemWorkWrap .hItemWtext li:nth-child(2) {
  margin-right: 16px;
  color: #666;
}

/* certiWrap */
#aboutSection .aboutCerti h2 {
  margin-bottom: 40px;
  font-size: 1.8rem;
  font-weight: 600;
  color: #20b2aa;
}
#aboutSection .aboutCerti h2 span {
  font-size: 1.1rem;
  font-weight: 400;
  margin-left: 8px;
  color: #aaa;
}
#aboutSection .aboutCerti .certiWrap {
  padding: 0 10px;
}
#aboutSection .aboutCerti ul li {
  display: flex;
}
#aboutSection .aboutCerti ul li:not(:last-child) {
  margin-bottom: 10px;
}
#aboutSection .aboutCerti ul li span {
  margin-right: 10px;
  width: 84px;
}


/* footer */
#footer {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
#footer span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 0.9rem;
}

