@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* 
  사용방법
  .orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .noto-sans-kr-<uniquifier> {
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #f7f7f7;
  color: #222;
}
.m-font {
  font-family: "Orbit", sans-serif;
}

#header, #cardSection, #footer {
  width: 100%;
  padding: 0 5%;
}
/* header */
#header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  padding: 25px 0;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  z-index:999;
  transition: 
    transform ease-in-out 0.4s,
    background-color ease 0.4s,
    border-bottom ease 0.4s,
    box-shadow ease 0.4s,
    padding ease 0.4s
  ;
}

#header h1 {
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  transition: 
    margin ease 0.3s,
    position ease 0.3s,
    font-size ease 0.3s
    ;
}

#header #menu {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
#header #menu .menu-group {
  position: relative;
  display: flex;
}
#header #menu .menu-group li {
  padding: 0 20px;
}
#header #menu .menu-group li a {
  text-decoration: none;
  color: #222;
  font-size: 1rem;
  font-weight:500
}
#header #menu .menu-group li a:hover {
  color: lightseagreen;
}

/* header #toggle-menu hide */
#header #toggle-menu {
  display: none;
}

@media screen and (max-width: 1080px) {
  #header .container {
    display: flex;
    justify-content: flex-start;
    padding: 0 24px;
  }
  #header h1 {
    position: absolute;
    margin: 0 auto;
    left: 0;
    font-size: 1.5rem;
  }
  #header #menu .menu-group {
    display: none;
  }
  #header #toggle-menu {
    position: relative;
    display: block;
  }
  #header .toggle-btn {
    position: relative;
    display: block;
    overflow: visible;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    cursor: pointer;
  }
  #header .toggle-btn .toggle-btn-shape {
    position: absolute;
    width: 34px;
    height: 34px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  #header .toggle-btn .toggle-btn-shape span {
    width: 12px;
    height: 2px;
    border-radius: 2px;
    display: block;
    background-color: #222;
  }
  #header .toggle-btn .toggle-btn-shape span:first-child {
    transform: translate(11px, 13px) rotate(0deg);
  }
  #header .toggle-btn .toggle-btn-shape span:last-child {
    transform: translate(11px, 18px);
  }
  #header .toggle-btn .toggle-btn-shape.on span:first-child {
    transform: translate(11px, 16px) rotate(45deg);
  }
  #header .toggle-btn .toggle-btn-shape.on span:last-child {
    transform: translate(11px, 14px) rotate(-45deg);
  }
  #header .toggle-btn .toggle-btn-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    /* background-color: #e7e7e7; */
    transition: transform ease 0.3s;
  }
  #header .toggle-btn:hover .toggle-btn-bg{
    transform: scale(1.1);
  }
  #header .toggle-btn:active .toggle-btn-bg{
    background-color: #c4c4c4;
  }
  #header .toggle-menu-group {
   display: none;
    
  }
}
/* 
<div id="toggle-menu">
  <div class="toggle-btn">
    <div class="toggle-btn-shape">
      <span></span>
      <span></span>
    </div>
    <div class="toggle-btn-bg"></div>
  </div>
  <ul class="toggle-menu-group">
    <li><a href="#">about</a></li>
    <li><a href="https://github.com/eziquexx/">jelee-github</a></li>
    <li><a href="https://dev-jelee.tistory.com/">tech-blog</a></li>
  </ul>
</div>
*/


/* cardSection */
#cardSection #titleWrap {
  text-align: center;
}
#cardSection #titleWrap h1 {
  display: block;
  font-size: 4rem;
  font-weight: 900;
}
#cardSection #titleWrap p {
  margin-top: 60px;
  line-height: 1.8;
  display: block;
  color: #555;
}
#cardSection #titleWrap p b,
#cardSection #titleWrap p u {
  font-weight: 600;
  color: #222;
}

#cardSection #cardWrap {
  display: flex;
  justify-content: flex-start;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 100px auto 0;
}
#cardSection #cardWrap .cards {
  height: 450px;
  box-shadow: 0px 6px 20px -1px rgba(88, 88, 88, 0.2);
  border-radius: 20px;
  overflow: hidden;
  transition: transform ease 0.3s;
}
#cardSection #cardWrap .cards:hover {
  transform: translateY(-15px);
}
#cardSection .cards {
  background-color: #fff;
}
#cardSection .cards .card-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
#cardSection .cards .card-wrap .card-img {
  width: 100%;
  height: 240px;
  overflow: hidden;
}
#cardSection .cards .card-wrap .card-img img {
  width: 100%;
  height: 100%;
  display: block;
}
#cardSection .cards .card-wrap .textGroup {
  position: relative;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  /* height: 100%; */
  padding: 16px;
  line-height: 1.2;
} 
#cardSection .cards .card-wrap .textGroup .card-title {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
  font-size: 1rem;
  font-weight: 600;
}
#cardSection .cards .card-wrap .textGroup .card-description {
  width: 100%;
  height: 70px;
  margin-top: 10px;
  font-size: 0.9rem;
  display: block;
  overflow: hidden;
}
#cardSection .cards .card-wrap .textGroup .card-tag {
  position: absolute;
  bottom: 50px;
}
#cardSection .cards .card-wrap .textGroup .card-tag ul {
  display: flex;
}
#cardSection .cards .card-wrap .textGroup .card-tag ul li {
  padding: 4px 6px;
  font-size: 0.7rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  line-height: 1;
}
#cardSection .cards .card-wrap .textGroup .card-tag ul li:not(:last-child) {
  margin-right: 6px;
}

#cardSection .cards .card-wrap .textGroup .card-date {
  position: absolute;
  bottom: 20px;
  font-size: 0.8rem;
}

/* footer */
#footer {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}
#footer span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 1rem;
}

